/*adjacent sibiling selector*/
h1 + p{
    color: red;
}

h1 ~ p{
    color: blue;
}
/*attribute selctor*/
input[type='text']{
    border: 2px solid red;
}
/*pseudo class selector*/
.box p:last-child{
    color: red;
}
p::first-letter{
    
    color : red;
}