/*body{
    background-image: url("C:/images/yoga1.jpg");
    width: auto;
    height: auto;
    font-family: 'Ewert', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Satisfy', cursive;
}*/
h1{
    font-family:'Ewert', cursive ;
}
p{
    font-family: 'Permanent Marker', cursive;
}